//------------------------------
// Imports
//------------------------------
@import 'reset';
@import 'default';
@import 'animations';
@import 'variables';

//------------------------------
//
//------------------------------

body{
	font-family: 'Roboto';
	background-color: #B21212;
	transition: background-color 1s;
}
.new-quote-container{
	transition: background-color 1s;
}
*p,
*i{
	transition: color 1s;
}
.clearFix{
	clear: both;
}
// Section
.quote{
	text-align: center;
	font-size: 1.5rem;
	max-width: 360px;
	margin: 0 auto;
	padding-top: 20px;

	&-container{
		width: 450px;
		height: auto;
		margin: 250px auto;
		background-color: #FFF;
		border-radius: 5px;
		box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.50);
		transition: height 1s;
	}

	&-author{
		padding-top: 10px;
		margin-right: 25px;
		font-weight: 100;
		font-size: 1rem;
		font-style: italic;
		float: right;
	}
}

.quote-sign{
	font-weight: 800;
}

.btn-container{
	padding: 20px 25px;

	&>a:first-child{
		margin-right: 10px;
	}

	&>a i{
		font-size: 39px;
		color: #B21212;
		opacity: 1;

		&:hover{
			opacity: 0.9;
			color: lighten(#B21212, 5%);
		}
	}
}

.new-quote-container{
	padding: 10px 15px;
	float: right;
	background-color: #B21212;
	border-radius: 5px;
	cursor: pointer;
	opacity: 1;

	&:hover{
		opacity: 0.9;
	}
}
.social-btn{
	display: inline-block;
	padding: 5px;
	width: 40px;
	height: 39px;

	& svg{
		width: 17px;
		height: 18px;
	}
}
.new-quote{
	color: #FFF;
	font-size: 16px;
}
svg{
	fill: #FFF;
}
