<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Random Quote Machine</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">
		<script src="bower_components/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>
		<section class="quote-container">
			<div>
				<p class="quote"></p>
			</div>
			<div>
				<p class="quote-author"></p>
			</div>
			<div class="clearFix"></div>
			<div class="btn-container">
				<a href="#" class="twitter-link"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
				<div class="new-quote-container">
					<span class="new-quote">New quote</span>
				</div>
			</div>
		</section>
	</body>
</html>
